name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Scraper
        run: |
          echo "Starting simple test..."
          docker run --rm ghcr.io/idokoren/moneyman:latest
