name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Scraper
        run: |
          docker run --rm \
          -e "GOOGLE_SPREADSHEET_ID=${{ secrets.SPREADSHEET_ID }}" \
          -e "GOOGLE_SERVICE_ACCOUNT_KEY=${{ secrets.GOOGLE_KEY }}" \
          -e "ACCOUNTS_JSON=${{ secrets.ACCOUNTS_JSON }}" \
          ghcr.io/idokoren/moneyman:latest
