name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install Dependencies
        run: npm install

      - name: Run Scraper
        env:
          MONEYMAN_CONFIG: ${{ secrets.MONEYMAN_CONFIG }}
          DEBUG: "*"
        run: npx tsx src/index.ts scrape
