name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Scraper
        env:
          MONEYMAN_CONFIG: ${{ secrets.MONEYMAN_CONFIG }}
        run: |
          docker run --rm \
          -e MONEYMAN_CONFIG \
          -e TZ="Asia/Jerusalem" \
          ghcr.io/idokoren/moneyman:latest
