name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Scraper
        env:
          CONFIG_DATA: ${{ secrets.MONEYMAN_CONFIG }}
        run: |
          # יצירת קובץ מהסוד בצורה בטוחה
          echo "$CONFIG_DATA" > config.json
          
          # הרצה של דוקר שקורא ישירות מהקובץ
          docker run --rm \
          -v $(pwd)/config.json:/app/config.json \
          -e MONEYMAN_CONFIG_PATH=/app/config.json \
          -e TZ="Asia/Jerusalem" \
          ghcr.io/idokoren/moneyman:latest
