name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Moneyman
        # שימוש בגרסה הציבורית המעודכנת ביותר
        uses: docker://theidok/moneyman:latest
        env:
          GOOGLE_SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
          GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.GOOGLE_KEY }}
          ACCOUNTS_JSON: ${{ secrets.ACCOUNTS_JSON }}
          TZ: "Asia/Jerusalem"
