name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Scraper
        env:
          MONEYMAN_CONFIG: |
            {
              "spreadsheetId": "${{ secrets.SPREADSHEET_ID }}",
              "credentials": {
                "google": {
                  "serviceAccountKey": ${{ secrets.GOOGLE_KEY }}
                }
              },
              "accounts": ${{ secrets.ACCOUNTS_JSON }}
            }
        run: |
          docker run --rm \
          -e MONEYMAN_CONFIG \
          -e TZ="Asia/Jerusalem" \
          ghcr.io/idokoren/moneyman:latest
