name: Scrape
on:
  workflow_dispatch:

jobs:
  test_secrets:
    runs-on: ubuntu-latest
    steps:
      - name: Basic Check
        run: |
          echo "Starting test..."
          if [ -z "${{ secrets.SPREADSHEET_ID }}" ]; then echo "ID is missing"; else echo "ID exists"; fi
          if [ -z "${{ secrets.GOOGLE_KEY }}" ]; then echo "Key is missing"; else echo "Key exists"; fi
          echo "Test finished."
