name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: System Check
        run: |
          echo "=========================================="
          echo "IF YOU SEE THIS, THE ACTION IS WORKING!"
          echo "TIME: $(date)"
          echo "=========================================="

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Run Scraper
        env:
          GOOGLE_SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
          GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.GOOGLE_KEY }}
          ACCOUNTS_JSON: ${{ secrets.ACCOUNTS_JSON }}
          DEBUG: "*"
        run: |
          npm install
          npm run build --if-present
          echo "Attempting to run index..."
          node dst/index.js scrape || node index.js scrape || echo "No file found"
