name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Install
        run: npm install

      - name: Build
        run: npm run build --if-present

      - name: Run
        env:
          GOOGLE_SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
          GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.GOOGLE_KEY }}
          ACCOUNTS_JSON: ${{ secrets.ACCOUNTS_JSON }}
          DEBUG: "*"
        run: |
          echo "Test: I am starting now"
          node dst/index.js scrape || node index.js scrape || echo "Force failure" && exit 1
