name: Scrape

on:
  workflow_dispatch:
  schedule:
    - cron: "5 10,22 * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Moneyman Scraper
        run: |
          docker run --rm \
          -e MONEYMAN_CONFIG='${{ secrets.MONEYMAN_CONFIG }}' \
          -e TZ="Asia/Jerusalem" \
          ghcr.io/idokoren/moneyman:latest
