name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Create Files
        uses: actions/github-script@v7
        with:
          script: |
            const fs = require('fs');
            // יצירת הקבצים ישירות דרך קוד (הכי בטוח מפני תווים מיוחדים)
            fs.writeFileSync('google_key.json', process.env.GOOGLE_KEY);
            fs.writeFileSync('accounts.json', process.env.ACCOUNTS_JSON);
        env:
          GOOGLE_KEY: ${{ secrets.GOOGLE_KEY }}
          ACCOUNTS_JSON: ${{ secrets.ACCOUNTS_JSON }}

      - name: Run Scraper
        run: |
          echo "Starting Docker..."
          docker run --rm \
          -v $(pwd)/google_key.json:/app/google_key.json \
          -v $(pwd)/accounts.json:/app/accounts.json \
          -e "GOOGLE_SPREADSHEET_ID=${{ secrets.SPREADSHEET_ID }}" \
          -e "GOOGLE_SERVICE_ACCOUNT_KEY_PATH=/app/google_key.json" \
          -e "ACCOUNTS_JSON_PATH=/app/accounts.json" \
          -e "TZ=Asia/Jerusalem" \
          idokoren/moneyman:latest
