name: Scrape
on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Run Scraper
        run: |
          # יצירת הקבצים מהסודות שכבר וידאנו שהם תקינים
          cat << 'EOF' > google_key.json
          ${{ secrets.GOOGLE_KEY }}
          EOF

          cat << 'EOF' > accounts.json
          ${{ secrets.ACCOUNTS_JSON }}
          EOF

          # הרצת הבוט
          docker run --rm \
          -v $(pwd)/google_key.json:/app/google_key.json \
          -v $(pwd)/accounts.json:/app/accounts.json \
          -e "GOOGLE_SPREADSHEET_ID=${{ secrets.SPREADSHEET_ID }}" \
          -e "GOOGLE_SERVICE_ACCOUNT_KEY_PATH=/app/google_key.json" \
          -e "ACCOUNTS_JSON_PATH=/app/accounts.json" \
          -e "TZ=Asia/Jerusalem" \
          ghcr.io/idokoren/moneyman:latest
