name: Test Scraper NEW
on:
  workflow_dispatch:

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Kill and Speak
        run: |
          echo "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" >&2
          echo "CRITICAL CHECK: IF YOU SEE THIS, LOGS WORK" >&2
          echo "TIME: $(date)" >&2
          echo "!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" >&2
          exit 1 # זה יכריח את השלב להיות אדום ולהציג את הטקסט
